.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 93%;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 91%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 94%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 90%;
  }
}